/* header section */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}
.title{
    font-size: 35px;
    display: flex;
}
.col{
    color: rgb(251, 4, 4);
}
.icon1{
    margin-right: 10px;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;

}
.btn{
    background-color: rgb(219, 224, 224);
}


/* header section mobile */

@media screen and (max-width: 576px) {
    .nav{
        padding: 20px;
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
       gap: 15px;
    
    }
}


/* main section */
.main{
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-color: rgb(252, 230, 244);
    justify-content: space-between;
    

}.img img{
    width: 100%;
}
.play{
    font-size: 30px;
   background-image: url('images/Group 14.png');
    padding: 50px;
    align-items: center;
    
    

}
.got{
    color: #f80eec;
}
.btn1{
    font-size: 15px;
    background-color: red;
    border-radius: 25px;
    padding: 15px;
}
.btn2{
    font-size: 15px;
    background-color: rgb(102, 211, 149);
    border-radius: 25px;
    padding: 15px;
}

/* main for mobile */
@media screen and (max-width: 576px) {
    .main{
            flex-direction: column-reverse;          
            padding: 10px;
            justify-content: center;
        
    }
    .play{
       
        margin: 20px;
        font-size: 15px;
        padding: 0 auto;
        align-items: center;
    
    }
   
    
}

/* main 2 senction */
.main2{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: #f7eef6;
    gap: 10px;
    
}
.main2 img{
    width: 100%;
}
.we{
    font-size: 20px;
}
/* main 2 mobile */
@media screen and (max-width: 576px){
    .main2{
        flex-direction: column;
        width: 100%;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .main2 img{
        width: 100%;
        padding: 0;
    
}
.we{
    
    padding: 10 auto ;

}
}


/* main 3 section */

.main3{
    padding: 10px 100px;
    align-items: center;
    justify-content: center;
   
    
}
.imgsec{
    display: flex;
    justify-content: center;
    
}
.online{
    padding: 10px 500px;
}
.onlineimg{
    width: 300px;
    margin: 5px;;
}
/* main3 mobile */
@media screen and (max-width: 576px) {
    .main3{
        align-items: center;
        justify-content: center;
        padding: 50px 50px;
    }
    .imgsec{
        flex-direction: column;
    }
    .online{
        padding: 0 50px;
    }
}


/* main4 section */

.main4{
    display: flex;
    align-items: center;
    padding: 10px 100px;
   gap: 150px;
   
}
.ghura{
    width: 400px;
}
.furi{
    width: 200px;
    position: relative;
    right: 100px;
    top: -150px;

}


/* main4 for mobile */
@media screen and (max-width: 576px) {
    .main4{
        flex-direction: column;
        gap: 10px;
    }
    .ghura{
       width: 250px;
    }
    .furi{
        width: 150px;
    }
    
}
.main5{
    display: flex;
    padding: 100px;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
}
.div1{
    display: flex;
    margin-bottom: 50px;
    margin: 10px;
    gap: 10px;

    

}
.div1:hover {
    border: solid green;
    border-radius: 30px;
}
.btn9:hover{
    color: #d71111;
}
.btn9{
    background: none;
    border: none;
}

/* main5 for mobile */
@media screen and (max-width: 576px) {

    .main5{
        display: flex;
        padding: 10px;
      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       
    }
    .div1{
        display: flex;
        margin-bottom: 50px;
        margin: 10px;
        gap: 10px;
    
        
    
    }
   
    .btn9{
        background: none;
        border: none;
    }
    
}



/* footer section */
.footer{
   background-color: black;
   padding: 100px;
  

   
}
.title1{
    font-size: 35px;
    display: flex;
    color: #fef6f6;
    justify-content: center;
}
.lastnav{
    color: #fe0d0d;
    list-style: none;
    display: flex;
    margin: 25px;
    gap: 25px;
    justify-content: center;
}

.trems{
    list-style: none;
    display: flex;
   
    justify-content: center;
    color: #ffffff;
    gap: 50px;
   
}

.end{
    color: #d195cc;
    padding-top: 50px;
    text-align: center;
}


.lasticon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
/* footer mobile */
@media screen and (max-width:576px) {
    .lastnav ul {
        display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .trems{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}
