/* header section */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
}
.title{
    font-size: 35px;
    display: flex;
}
.col{
    color: rgb(251, 4, 4);
}
.icon1{
    margin-right: 10px;
}
nav > ul{
    display: flex;

}
nav li{
    list-style: none;
    margin-right: 30px;

}
.btn{
    background-color: rgb(219, 224, 224);
}


/* header section mobile */

@media screen and (max-width: 576px) {
    .nav{
        padding: 20px;
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        align-items: center;
       gap: 15px;
    
    }
}


/* main section */
.main{
    display: flex;
    align-items: center;
    padding: 0 100px;
    background-color: rgb(252, 230, 244);
    justify-content: space-between;
    

}.img img{
    width: 100%;
}
.play{
    font-size: 30px;
   background-image: url('images/Group 14.png');
    padding: 50px;
    align-items: center;
    
    

}
.got{
    color: #f80eec;
}
.btn1{
    font-size: 15px;
    background-color: red;
    border-radius: 25px;
    padding: 15px;
}
.btn2{
    font-size: 15px;
    background-color: rgb(102, 211, 149);
    border-radius: 25px;
    padding: 15px;
}

/* main for mobile */
@media screen and (max-width: 576px) {
    .main{
            flex-direction: column-reverse;          
            padding: 10px;
            justify-content: center;
        
    }
    .play{
       
        margin: 20px;
        font-size: 15px;
        padding: 0 auto;
        align-items: center;
    
    }
   
    
}

/* main 2 senction */
.main2{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    background-color: #f7eef6;
    gap: 10px;
    display: none;
}
.we{
    font-size: 20px;
}
/* main 2 mobile */
@media screen and (max-width: 576px){
    
}


/* main 3 section */

.main3{
    padding: 10px 100px;
    display: none;
    
}
.imgsec{
    display: flex;
    
}
.online{
    justify-content: center;
}
.onlineimg{
    width: 300px;
    margin: 5px;;
}
/* main3 mobile */
@media screen and(max-width: 576px) {
    
}


/* main4 section */

.main4{
    display: flex;
    align-items: center;
    padding: 10px 100px;
   gap: 20px;
   display: none;
}
.ghura{
    width: 400px;
}

/* main4 for mobile */
@media screen and(max-width: 576px) {
    
}
.main5{
    display: flex;
    padding: 100px;
    margin: 20px;
    display: none;

}



/* footer section */
.footer{
   background-color: black;
   padding: 100px;
   display: none;

   
}
.title1{
    font-size: 35px;
    display: flex;
    color: #fef6f6;
    justify-content: center;
}
.lastnav{
    color: #ffffff;
    list-style: none;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.trems{
    list-style: none;
    display: flex;
   
    justify-content: center;
    color: #ffffff;
    gap: 50px;
   
}

.end{
    color: #d195cc;
    justify-content: center;
}
/* footer mobile */